div.name-card {
  background-color: rgb(226, 210, 64);
  font-size: 25px;
  width: 12rem;
  height: 7rem;
  margin: 10px 10px;
  border-radius: 10px;
  border: 10px solid rgb(226, 169, 64);
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}